<link href="/style.css" rel="stylesheet" type="text/css">
<div class="bg-image"><form action="/logout?_method=DELETE" method="POST">
    <button class="myButton" type="submit">Log Out</button>
  </form></div>

<h1 class="mainfont bg-text">Hi <%= name %>, you're logged in!</h1>

