<link href="/style.css" rel="stylesheet" type="text/css">


<div class="bg-image">
<h1 class="bg-text2">Register</h1>

<form action="/register" method="POST">
  <div>
    <label class="labeltext labelseparator2" for="name">Name</label>
    <input type="text" id="name" name="name" required>
  </div>
  <div>
    <label  class="labeltext labelseparator" for="email">Email</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label  class="labeltext" for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <div class="centerer1">
  <button class="myButton" type="submit">Register</button>
  </div>
</form>
<div class="centerer2">
<a class="myButton loginspacing " href="/login">Login</a>
</div>
</div>